$ff-bn: 'Bebas Neue', sans-serif;
$ff-r: 'Rubik', sans-serif;
$fw-l: 300;
$fw-r: 400;
$fw-m: 500;
$fw-b: 700;
$fw-black: 900;
$c-bg: #15151b;
$c-text: #ffffff;
$c-bg-dropdown-menu: #2c2c35;
$c-bg-move-menu: #3b3b46;
$c-main: #fda41d;
//$c-link: #
//$c-link-hover: #
//$c-link-active: #


